$nav-bar-offset: 90px;
$vertical-nav-bar-offset: 236px;

.navbar-offset {
    margin-top: $nav-bar-offset;
}

.navbar {
    position: fixed;
    width: $max-cols * $col-size;
    display: flex;
    background-color:  $color-primary; 
    justify-content: flex-end;
    z-index: 999;
    box-shadow: 0px 1px 4px lighten(black, 35%);
}


.navbar__item {
    text-decoration: none;
    color: inherit;
    padding: 1.2rem;
    &-left {
        margin-right: auto;
    }

    &-active, &:hover {
        border-bottom: 0.2rem solid $color-accent;
    }
}

.brand {
    padding: 1.3rem;
    color: inherit;
    background-color: darkcyan;
}

.navbar__icon {
    display: none;
}

.navbar__items {
    display: flex;
}


@media all and (max-width: $phone-width) {
    .navbar {
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navbar__icon {
      display: block;
      padding: 1.5rem;
    }

    .navbar__item {
      text-align: center;
      flex-basis: 1;
      margin: 0px;
    }

    .navbar__items {
      &-collapse {
          display: none;
      }
    }

    .brand {
       flex-grow: 1;
    }

    .navbar__item {
        &-active {
            display: inherit;
        }
    }
}