
.jumbotron {
    display: flex;
    width: $col-size * $max-cols;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //background-color: azure;
    height: 300px;
}

.logo {
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}