$nav-bar-offset: 60px;
$vertical-nav-bar-offset: 236px;

.navbar {
    position: fixed;
    width: $max-cols * $col-size;
    display: flex;
    background-color:  $color-primary; 
    justify-content: flex-end;
    z-index: 999;
    box-shadow: 0px 1px 4px lighten(black, 35%);
}


.navbar__item {
    text-decoration: none;
    color: inherit;
    padding: 1.5em;
    &-left {
        margin-right: auto;
    }

    &-active, &:hover {
        background-color: darkcyan;
    }
}


@media all and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-content: center;
    }
    .navbar__item {
        text-align: center;
        width:100%;
        margin: 0px;
    }
}