.contact {
    display:flex;
    width: $col-size * $max-cols;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $color-primary;
}